1 VERSIONINFO
FILEVERSION   1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName", "Deakin.edu.au"
            VALUE "FileDescription", "ANDS DC20A - Crystal Orientation Data Collection"
            VALUE "FileVersion", "1.2"
            VALUE "InternalName", "CRYSTOsoftware"
            VALUE "LegalCopyright", "Deakin University"
            VALUE "OriginalFilename", "CRYSTOsoftware.exe"
            VALUE "ProductName", "ANDS/DC20A"
            VALUE "ProductVersion", "1.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x809, 1252
    END
END

2 ICON "art/icon.ico"
